*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 20px 0;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    padding: 20px;
    gap: 10px;
}
.choice{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}
.choice button{
    font-size: 140px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}